langchain==0.3.20
langchain-community==0.3.19
langchain-core
langchain-openai
docling==2.31.0
docling-core==2.28.1
docling-ibm-models==3.4.2
docling-parse==4.0.1
uvicorn[standard]
fastapi[all]
langgraph
ipykernel
langchain-qdrant==0.2.0
qdrant-client==1.13.3
sentence-transformers==3.4.1
fastembed==0.6.1

